<header class="header">
    <div class="container">
        <div class="header-holder">
            <div class="holder-logo">
                <a href="#"><img src="img/logos/logo.png" alt="logo"></a>
            </div>
            <nav class="navbar">
                <ul class="nav">
                    <li><a href="#">Функционал</a></li>
                    <li><a href="#">Цены</a></li>
                    <li><a href="#">Интеграции</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </nav>
            <div class="select-language">
                <ul>
                    <li><a class="ru" href="#">RUS</a>
                        <ul class="dropdown">
                            <li><a  href="#">ENG</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>