
$gray:                 #22252a;
$light-gray:           #9194a6;
$white:                #fff;
//$blue:               #5b759e;

$base-font-sans-serif:        'Lato', 'Helvetica Neue', 'Helvetica', sans-serif;

 //Body
$base-text-color:               #22252a !default;
$base-background-color:         #f3f5ff;
$background-color-blue:         linear-gradient(15deg, #1654e0 0%, #0b60f0 50%, #006cff 100%);
$background-color-white:        #fff;


 //Liks
$base-link-color:               $gray;
//$base-link-hover-color:       $black;


// Buttons
$btn-color:                           $white;
$btn-background:                      #026afc;
$btn-hover-background:                transparent;
$btn-border-radius:                   22px;
$btn-border-black:                    1px solid #000;
$btn-border-blue:                     1px solid #026afc;
//$btn-padding:                       4px 10px !default;
//$btn-font-size:                     $font-size-base - 2 !default;
//$btn-line-height:                   $font-size-base + 1;


