.header {
  padding: 38px 0;
}
.header-holder {
  display: flex;
  align-items: center;
}

.navbar {
  flex-grow: 1;
  .nav {
    display: flex;
    justify-content: flex-end;
    a {
      padding: 5px 16px;
    }
  }
}


.holder-logo {
  flex-basis: 20%;
}

.select-language {
  flex-basis: 20%;
  ul {
    text-align: right;
    li {
      &:hover ul.dropdown {
        display: block;
      }
      ul.dropdown li {
        display: block;
      }
    }
  }
  li {
    display: inline-block;
    position: relative;
    transition: .2s all;
  }
  a {
    padding:  10px 22px 10px 37px;
    font-size: 16px;
    display: block;
    position: relative;
  }
  .ru {
    background: url("../img/icons/russia.png") left center no-repeat;
    &::before {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 4px 4px 0 4px;
      border-color: #000000 transparent transparent transparent;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
    &:hover::before {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 4px 4px 4px;
      border-color: transparent transparent #000000 transparent;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
  }
  .dropdown {
    min-width: 100%;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
  }
}

.en {
  background: url("../img/icons/english.png") left center no-repeat;
  background-size: 26px;
}